.navbar {
  background: linear-gradient(rgb(77, 0, 0), rgb(153, 0, 3));
}

@media screen and (min-width: 320px) {
  .navbar {
    height: 90px;

    .logo img{
      width: 127px;
      height: 65px;
      position: absolute;
      margin: 12px 0 0 20px;
    }

    .cliente, .fone, .wpp {
      display: none;
    }
  }

  .header {
    height: 47vh;
    width: 100vw;
    background-image: url("./../../static/images/image-header-mobile.jpeg");
    background-position: -30vw 0vh;
    background-repeat: no-repeat;
    background-size: 160%;
  }

  .navbar-bottom {
    display: grid;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background: #fff;
    width: 100%;
    grid-template-columns: 3fr 1fr;

    .fone {
      display: flex;
      img {
        width: 30px;
        height: 30px;
        margin: 10px;
      }
      a {
        color: $red;
        text-decoration: none;
        font-size: 20px;
        margin: auto 0;
      }
    }
  }
}

@media screen and (min-width: 375px) {
  .header {
    height: 41vh;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    .cliente, .fone, .wpp {
      display: block;
    }

    .cliente {
      position: absolute;
      right: 320px;
      top: 15px;

      p {
        line-height: 30px;
        font-weight: 500;
        font-size: 18px;
        color: rgb(255, 255, 255);
        font-style: normal;
        margin: 0;

        span {
          text-decoration: underline;
        }
      }
    }

    .fone {
      img {
        position: absolute;
        top: 30px;
        right: 270px;
      }

      a {
        font-weight: 600;
        position: absolute;
        color: #fff;
        font-size: 25px;
        top: 35px;
        right: 100px;
      }
    }

    .wpp {
      img {
        position: absolute;
        top: 20px;
        right: 30px;
      }
    }
  }

  .header {
    height: 60vh;
  }

  .navbar-bottom {
    display: none;
  }
}

@media screen and (min-width: 1366px) {
  .navbar {
    height: 90px;

    .cliente {
      position: absolute;
      right: 560px;
      top: 15px;
      display: block;

      p {
        line-height: 30px;
        font-weight: 500;
        font-size: 18px;
        color: rgb(255, 255, 255);
        font-style: normal;
        margin: 0;

        a {
          color: #fff;
          text-decoration: underline;
        }
      }
    }

    .fone {
      display: block;
      img {
        position: absolute;
        top: 30px;
        right: 510px;
      }

      a {
        font-weight: 600;
        position: absolute;
        color: #fff;
        font-size: 25px;
        top: 32px;
        right: 340px;
      }
    }

    .wpp {
      position: absolute;
      top: 0px;
      right: 200px;
    }

    .logo img{
      width: 127px;
      height: 65px;
      position: absolute;
      margin: 12px 0 0 200px;
    }
  }

  .header {
    height: 62vh;
    background-image: url("./../../static/images/image-header-web.png");
    background-position: 0vw 0vh;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
